@media only screen and (min-width: 45em) {

/*-----HEADER -----*/

	header .logo img {
		width: auto;	
	}



/*----- SOCIAL -----*/
	header .social {
		position: relative;
		float: right;

	}
	

/*----- SUB NAV -----*/
    .hideSmall {
        display: inline;
    }
	
/*----- Columns -----*/
	
    main {
        .width6 {
            float: left;
            width: 6 / 12 * 100%;
        }
    } /*end of query*/
	
	
	
	/*----- NEWSPAPER STYLE COLUMNS -----*/
    .multicol {
        @include columns(2, $dkgrey);
    }
    
    @for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .large-#{$i} {
        width: $w;
        float: left;
    }
}
	
	
	
}/* end query */


